name: backend test

on:
  pull_request:
    paths:
      - "backend/**.py"
      - "backend/requirements*.txt"
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v6

      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "backend/requirements-dev.txt"

      - name: install dependencies
        run: pip install -r requirements-dev.txt

      - name: run pytest
        run: pytest -v
